POSTGRES_USER=tracker
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=tracking
AWS_ACCESS_KEY=your_s3_key_here
AWS_SECRET_KEY=your_s3_secret_here
S3_ENDPOINT_URL=http://minio:9000
S3_PUBLIC_URL=http://localhost:9000
S3_BUCKET_NAME=my-videos